<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Recommendation System</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  </head>
  <body class="bg-gray-300">
    <header class="text-gray-600 body-font -my-8">
      <div class="container mx-auto flex flex-wrap p-4 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-3 md:mb-0">
          <div class="w-17 h-17 text-white p-2 rounded-full">
            <img class="object-cover object-center rounded" alt="hero" src="../static/logo1.svg">
          </div>
        </a>
      
          <a href="/" style="text-decoration: none;"><span class="ml-3 text-xl -my-50">Movie Recommendation Stytem  </span></a>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
          <a href = "/" style="text-decoration: none;" class ="mr-5 hover:text-gray-900">Home</a>
          <a href = "/about" style="text-decoration: none;" class="mr-5 hover:text-gray-900">About</a>
          <a href = "/recommendation" style="text-decoration: none;" class="mr-5 hover:text-gray-900">Recommendation</a>
          <a href = "/contact" style="text-decoration: none;" class="mr-5 hover:text-gray-900">Contact</a>
        </nav>
        
      </div>
    </header>
    


    <section class="text-black body-font -my-15">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Movie Recommendation System
          </h1>
          <p class="mb-30 text-gray-900 leading-relaxed">Tired of endlessly scrolling through movies with no idea what to watch? Our movie recommendation system takes the guesswork out of your next viewing experience. Powered by smart algorithms and personalized to your tastes, it suggests films you’ll love—whether you're into action-packed thrillers, heartwarming dramas, or obscure indie gems. Say goodbye to decision fatigue and hello to effortless entertainment, tailored just for you.</p>
          <div class="flex justify-center">
            <a href="/recommendation" class="href"><button class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg ">Recommendation</button></a>
          </div>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded" alt="hero" src="../static/home.svg">
        </div>
      </div>
    </section>

     <section class="text-gray-600 body-font -my-15">
      <div class="container px-5 py-10 mx-auto">
        <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Testimonials</h1>
        <div class="flex flex-wrap -m-4">
          <div class="p-4 md:w-1/2 w-full">
            <div class="h-full bg-gray-100 p-8 rounded">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
              </svg>
              <p class="leading-relaxed mb-6">Busy Professional
                "I barely have time to watch movies, so when I do, I want it to be worth it. This system nails it every single time 🌎🙂."
                .</p>
              <a class="inline-flex items-center">
                <img alt="testimonial" src="../static/copy.jpg" class="w-10 h-10 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-4">
                  <a href="/" style="text-decoration: none;"><span class="title-font font-medium text-gray-900">Sumant Kumar</span></a>
                </span>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/2 w-full">
            <div class="h-full bg-gray-100 p-8 rounded">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
              </svg>
              <p class="leading-relaxed mb-6">"I used to spend hours scrolling through streaming apps, but this site changed everything. It knows my taste better than I do! Now I always have something great to watch."
                🎬 ⭐⭐⭐⭐⭐</p>
              <a class="inline-flex items-center">
                <img alt="testimonial" src="../static/copy2.jpg" class="w-10 h-10 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-4">
                  <a href="/" style="text-decoration: none;"><span class="title-font font-medium text-gray-900">Swati Singh</span></a>
                  
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="text-gray-600 body-font -my-15">
      <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a style="text-decoration: none;" class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <div class="w-20 h-20 text-white p-2 rounded-full">
            <img class="object-cover object-center rounded" alt="hero" src="../static/logo1.svg">
          </div>
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-xl">Twinkle Tiwari</span>
        </a>
        <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2025
          <a style="text-decoration: none;" href="https://www.instagram.com/_ttwinkle1?igsh=MTl0cjY1MTRzajlvbQ==" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@_ttwinkle1</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a class="text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a href="https://www.instagram.com/_ttwinkle1?igsh=MTl0cjY1MTRzajlvbQ==" class="ml-3 text-gray-500">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/twinkle-tiwari-406930290?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  </body>
</html>